body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
h1 {
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 22px 15px;
}
figure {
  margin: 0;
}
.header {
  display: grid;
  background: royalblue;
  height: 79px;
  align-content: center;
  width: 100%;
}
.header .container {
  display: grid;
  grid-template-columns: 1fr 475px;
  grid-template-rows: 79px;
}
.header .menu {
  display: grid;
}
.header ol
{
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
}
.header ol li
{
  display: grid;
}
.header a
{
  color: white;
  text-decoration: none;
  justify-self: center;
  align-self: center;
}
.link1{
  padding: 25px 40px;
}
.link2{
  padding: 25px 22px;
}
.link3 {
  padding: 25px 20px;
}
.hero .container {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
  justify-items: center;
  justify-content: center;
  background: #C5DAE8;
}
.hero-text{
  display: grid;
  grid-template-rows: repeat(3, 1fr); 
  color: #393930;
  font-size: 75px;
  text-transform: uppercase;
  justify-self: center;
}
.hero-text h2{
  justify-self: center;
}