body {
  font-family: 'Fjalla One', sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
h1 {
  font-weight: 100;
  font-family: "Pacifico", sans-serif;
  color: white;
  text-transform: capitalize;
  margin: 0;
  padding: 10px 15px;
}
h3 {
  color: #393930;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 24px;
}
figure {
  margin: 0;
}
.header {
  display: grid;
  background: rgb(80,163,249);
  height: 79px;
  align-content: center;
  width: 100%;
}
.header .container {
  display: grid;
  grid-template-columns: 1fr 700px;
  grid-template-rows: 79px;
}
.header .menu {
  display: grid;
}
.header ol
{
  font-size: 18px;
  font-family: 'Fjalla One', sans-serif;
  line-height: 2;
  letter-spacing: 2px;
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 79px;
}
.header ol li
{
  display: grid;
}
.header a
{
  color: white;
  text-decoration: none;
  justify-self: center;
  align-self: center;
}
.link1{
  padding: 18px 60px;
}
.link2{
  padding: 18px 40px;
}
.link3 {
  padding: 18px 25px;
}
.hero {
  background: #C5DAE8;
}
.hero .container {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px;
  justify-items: center;
  justify-content: center;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-attachment: fixed;
  height: 700px;
}
.hero-text{
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  display: grid;
  grid-template-rows: repeat(2, 1fr); 
  color: #393930;
  font-size: 145px;
  justify-self: center;
}
.hero img {
  height: 800px;
}
.hero-text h2{
  justify-self: center;
}
.categories {
  padding: 20px;
  height: 725px;
}
.categories .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.categories-section {
  margin: 10px;
  width: 480px;
  border-radius: 10px;
  overflow: hidden;
  background: #C5DAE8;
  border: 5px solid #C5DAE8;
}
.categories img {
  height: 550px;
  width: 480px;
  object-fit: cover;
}
.categories-section-title {
  font-size: 30px;
  border-radius: 10px;
  margin: 20px 40px;
  background-color: white;
  margin-top: -40px;
  position: relative;
  padding: 20px;
  text-align: center;
}
.cubrelechos-link {
  text-decoration: none;
  color: black;
}
.cobijas-link {
  text-decoration: none;
  color: black;
}
.sabanas-link {
  text-decoration: none;
  color: black;
}
.recommended {
  padding: 20px;
  background: #C5DAE8;
  height: 760px;
}
.recommended .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 330px);
  grid-template-areas:  "cubrelecho-doble cubrelecho-doble sabana-sencilla cobija-termica-doble"
                        "cubrelecho-doble cubrelecho-doble cubrelecho-sencillo sabana-doble";    
}
.cubrelecho-doble {
  grid-area: cubrelecho-doble;
}
.sabana-sencilla {
  grid-area: sabana-sencilla;
}
.sabana-doble {
  grid-area: sabana-doble;
}
.cobija-termica-doble {
  grid-area: cobija-termica-doble;
}
.cubrelecho-sencillo {
  grid-area: cubrelecho-sencillo;
}
.recommended .container article {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}
.recommended img {
  object-fit: cover;
}
.product-image {
  height: 270px;
  width: 752px;
}
.product-image1 {
  height: 600px;
  width: 752px;
}
.recommended h4 {
  border-radius: 10px;
  margin: 20px 40px;
  background-color: white;
  margin-top: -40px;
  position: relative;
  padding: 20px;
  text-align: center;
}
.contact {
  color: white;
  background: #50A3F9;
  height: 170px;
  display: grid;
  align-items: center;
}
.form_email{
  display: grid;
  grid-template-columns: 400px 218px 100px;
  grid-template-rows: 50px;
  grid-gap: 30px;
}
.contact .container h3 {
  color: white;
}
.form_email input {
  border-color:black;
  padding: 10px 20px 10px 25px;
  border-radius: 5px;
  border-style: solid;
  background-image: url('../images/sobre-cerrado.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}
.form_email button{
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
}
.form_email h3 {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  align-self: center;
  justify-self: center;
}
.footer {
  letter-spacing: 1px;
  background-color: #1b2127;
  color: white;
  display: grid;
  justify-content: end;
}
.footer strong a {
  color: white;
  text-decoration: none;
}